@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Glitchy Animation */

/* Sliding Animation */
@layer utilities {
  @keyframes slide-in-right {
    from {
      transform: translateX(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-out-right {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(40px);
      opacity: 0;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.2s ease-out;
  }
  .animate-slide-out-right {
    animation: slide-out-right 0.2s ease-in forwards;
  }
}
